.heading{    
    width: 100%;
    font-family: serif;
    font-size: 25px;
}

#start{
    font-family: serif;
}

.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: navy;
    line-height: 3;
    text-align: center;
}